@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  background-color: #dbdbdb;
}

main {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.calculator-container {
  background-color: white;
  width: 84rem;
  height: 65rem;
  border-radius: 2.4rem 2.4rem 20rem 2.4rem;
  padding: 5.6rem;
  margin-inline: auto;
}

.calculator-container .form-input {
  display: flex;
  gap: 3.2rem;
  justify-content: flex-start;
}

.calculator-container .form-input .input {
  display: flex;
  flex-direction: column;
}

.calculator-container .form-input .input label {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #716f6f;
}

.calculator-container .form-input .input input {
  height: 7.2rem;
  width: 16rem;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0.01em;
  border: 0.1rem solid #dcdcdc;
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  font-family: "Poppins";
  cursor: pointer;
}

.calculator-container .form-input .input .validation-box {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #ff5959;
}

.calculator-container .form-btn {
  position: relative;
}

.calculator-container .form-btn hr {
  margin-top: 4.8rem;
  color: #dcdcdc;
}

.calculator-container .form-btn svg {
  background-color: #854dff;
  height: 9.6rem;
  width: 9.6rem;
  padding: 2.6rem;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  right: 0rem;
}

.calculator-container .outcome-box {
  padding-top: 4rem;
}

.calculator-container .outcome-box span {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-size: 10.4rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #854dff;
}

.calculator-container .outcome-box h2 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-size: 10.4rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: black;
}
